@import "helpers/reset"; /*shim, shiv, polyfill: a tool or way to make my code cross browsers compatible*/
@import "helpers/settings";
@import "helpers/tools";
@import "helpers/animations";
@import "helpers/video";
@import "helpers/generics";
@import "helpers/elements";
@import "components/header"; 
@import "components/body";
@import "components/footer";

html, body{
    height: 101%;
}

body{
    background: $navyBlue;
    overflow-x: hidden;
}