%gear-animation{
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-play-state: paused;
}

.gear-follow{
    @extend %gear-animation;
    animation-name: gear-f;
    animation-duration: 8s;

    @keyframes gear-f {
        0% {
        transform: rotateZ(0deg); 
        }
    
        100% {
        transform: rotateZ(-360deg); 
        } 
    }
}

.gear-drive{
    @extend %gear-animation;
    animation-name: gear-d;
    animation-duration: 2s;

    @keyframes gear-d {
        0% {
        transform: rotateZ(5.5deg); 
        }
    
        100% {
        transform: rotateZ(365.5deg); 
        } 
    }
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
