h1{
    font-size: 40px;
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
}

h2{ 
    font-size: 60px;
    padding: 19px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 0 290px;
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 50px;
    color:#ffff;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Times New Roman', Times, serif;
}

li{
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

button{
    display:none;
    position: absolute;
}

@media (max-width:1115px){
    header{
        flex-direction: column;
    }

    h1{
        margin: 10px auto;
    }

    h2{
        margin: 0 auto;
    }

    h3{
        padding: 400px 0 50px;
    }

    button{
        display:flex;
    }
}
