h1{
    font-size: 40px;
    color: $pureWhite;
    font-family: 'Times New Roman', Times, serif;
}

h2{ 
    font-size: 60px;
    padding: 19px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 0 290px;
    color: $pureWhite;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 50px;
    color: $pureWhite;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Times New Roman', Times, serif;
}

li{
    list-style: none;
}

a{
    color: $pureWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: $pureWhite;
    font-family: 'Times New Roman', Times, serif;
}

.open-nav{
    display:none;
    position: absolute;
}

@media (max-width:1115px){
    header{
        flex-direction: column;
    }

    h1{
        margin: 10px auto;
    }

    h2{
        margin: 0 auto;
    }

    h3{
        padding: 100px 0 50px;
    }

    .open-nav{
        display:flex;
    }
}
