h1{
    font-size: 50px;
    padding: 18px 40px;
    letter-spacing: 4px;
    color: $pureWhite;

    @media (max-width:1525px){
        font-size: 40px;
        padding: 23px 40px;
    }
}


h3{
    font-size: 50px;
    color: $pureWhite;
    margin: 0 auto;
    padding: 50px 0;
}

h4{
    font-size: 50px;
    color: $pureWhite;
    margin: 0 auto;
    padding: 0 0 100px;
}

li{
    list-style: none;
}

a{
    color: $pureWhite;
    text-decoration: none;
    text-transform: uppercase;
}

p{
    color: $pureWhite;
}

@media (max-width:1115px){
    header{
        flex-direction: column;
    }

    h1{
        margin: 10px auto;
    }

    h2{
        margin: 0 auto;
    }

    h3{
        padding: 100px 0 50px;
    }

    .open-nav{
        display:flex;
    }
}
