/*------------------grid------------------*/

.grid1{
    width: 10%;
}
.grid2{
    width: 20%;
}
.grid3{
    width: 30%;
}
.grid4{
    width: 40%;
}
.grid5{
    width: 50%;
}
.grid6{
    width: 60%;
}
.grid7{
    width: 70%;
}
.grid8{
    width: 76%;
}
.grid9{
    width: 90%;
}
.grid10{
    width: 100%;
}

@media (max-width:1445px){
    .grid7{
        width: 61%;
    }
}
@media (max-width:1115px){
    .grid7{
        width: 100%;
    }
}

/*------------------grid------------------*/

/*------------------flex------------------*/

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.even{
    justify-content: space-evenly;
}

.column{
    flex-direction: column;
}

.end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

 @media (max-width: 1115px){
     .end{
         justify-content: center;
     }
 }

/*------------------flex------------------*/

/*----------------position----------------*/

.rel{
    position: relative;
}

.fix{
    position: fixed;
}

.abs{
    position: absolute;
}

/*----------------position----------------*/

/*----------------z-index-----------------*/

.z1m{
    z-index: -1;
}

.z1{
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3{
    z-index: 3;
}

.z4{
    z-index: 4;
}

/*----------------z-index-----------------*/

/*-----------------colors-----------------*/

.blk{
    background: black;
}