/*-----------------colors-----------------*/

$navyBlue: #060058;
$pinkCranberry: #ff0040;
$mediumCranberry: #a30124;
$darkCranberry: #790014;
$orangeRed: #ff2222;
$lightGrey: #878787;
$pureWhite: #ffffff;
$pureBlack: #000000;

/*-----------------colors-----------------*/
