.reel-empty{
    height:780px;
    background: #11097b;
}

.video-holder{
    top: 385px;



    @media(max-width:700px){
        top: 400px;
    }
}

.video-holder2{
    top:1840px;

    @media(max-width:1525px){
        top: 1780px;

        @media(max-width:1115px){
            top: 2370px;
        }
    }
}

.text-hold{
    width: 600px;

    @media(max-width:700px){
        width: 400px;
    }
}

.reel-video{
    @media (max-width:1115px){
        width: 100%;
        padding: 0;
    }
    p{
        padding: 0 40px 100px 40px;

        @media (max-width:700px){
            padding: 0 40px 50px 40px;
        } 
    }
}

.vid-display{
    @include gearCircle(450px, 450px, 225px);
    background: black;
    margin: 23px;

    @media(max-width:700px){
        @include gearCircle(300px, 300px, 150px);
    }
}


.gear-follow{
    @include gearCircle(500px, 500px, 250px);
    background: $mediumCranberry;

    @media (max-width:700px){
        @include gearCircle(350px, 350px, 175px); 
    }
}

.drawings{
    padding: 315px 150px 595px;
    background: $navyBlue;

    @media(max-width:1525px){
        padding: 315px 100px 575px;
    }
    @media(max-width:1115px){
        padding: 275px 100px 570px;
    }

    ul{
        padding: 50px 0 0;

        @media (max-width:1115px){
            flex-direction: column;
            align-items: center;
        }

        .main-link{
            width: 300px;
            background: transparent;
            border: 0;
            margin: 20px 0;
            padding:0;
        
            @media(max-width:1310px){
                width: 250px;
            }       
        
            li{
                @include gearCircle(300px, 300px, 150px);
                background: $mediumCranberry;

                @media(max-width:1310px){
                    @include gearCircle(250px, 250px, 125px);
                }

                img{
                    @include gearCircle(250px, 250px, 125px);

                    @media(max-width:1310px){
                        @include gearCircle(200px, 200px, 100px);
                    }
                }           
            }
        }
    }
}

.lightbox {
    @include positioning(0, 0, inherit, inherit);
    background: rgba(0,0,0,0.8);
}

.closebtn{
    font-family: 'Times New Roman', Times, serif;
    color: $pureWhite;
    font-size: 50px;
    transition: 0.5s;
}

.closebtn:hover{
    color: $pinkCranberry;
    transition: 0.5s;
}
 
 .slideshow-container {
    @include gearCircle(900px, 600px, 0);

    @media(max-width:1115px){
        @include gearCircle(650px, 400px, 0);
    }

    @media(max-width:700px){
        @include gearCircle(375px, 250px, 0);
    }
}
  
.prev, .next {
    cursor: pointer;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.5s;
    position: absolute;
}
  
.next {
    right: 0;
}

.prev{
    left:0
}

.prev:hover, .next:hover {
    color: $pinkCranberry;
    font-size: 70px;
    transition: 0.5s;
}

.numbertext {
    color: $pureWhite;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}
  
.dot {
    @include gearCircle(13px, 13px, 6.5px);
    margin: 0 2px;
    background-color: $pureWhite;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: $pinkCranberry;
}

.checkers{
    bottom: 20px;
}

.myslides > img{
    height: 600px;

    @media(max-width:1115px){
        height: 400px;

        @media(max-width:700px){
            height: 245px;
        }
    }
}
