.reel-video{
    padding: 100px 150px 50px 150px;
    
    p{
        margin: 0 auto;
        padding: 0 0 100px 0;
    }

    @media (max-width:1115px){
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
}

@media (max-width:1115px){
    .reel-wrap{
        flex-direction: column;
    
        .reel-empty{
            height: 300px;
        }
    }
    @media (max-width:700px){
        .reel-video > p{
            padding: 0 30px 100px 30px;
        }
    }
}

.video-block1{
    margin: 0 125px;
}

.video-block2{
    margin: 0;
}

@media (max-width:700px){
    .video-block1, .video-block2{
        margin: 0 auto;
        max-width: 480px;
    }
}

.progress-bar-fill{
    display: none;
}

.gear-follow{
    @include gearCircle(500px, 500px, 250px);
    background: $darkCranberry;
}

@media (max-width:700px){
    .gear-follow{
        @include gearCircle(350px, 350px, 175px); 
    }
}

.gear-drive{
    @include gearCircle(125px, 125px, 62.5px);
    background: $mediumCranberry;
    transform: rotate(5.5deg);

    @media (max-width:700px){
        display: none;
    }
}

.drive1{
    @include positioning(399px, 56px, inherit, inherit);
}

.drive2{
    @include positioning(408px, inherit, 64px, inherit);
}

.f-teeth {
    @include teeth(540px, $darkCranberry);

    &::before{
        @include triteethRight(270px, 100px, -100px, $darkCranberry);
    }

    &::after{
        @include triteethLeft(270px, 100px, $darkCranberry);
    }

    @media (max-width:700px){
        display: none;
    }
}

.d-teeth {
    @include teeth(155px, $mediumCranberry);

    &::before{
        @include triteethRight(77.5px, 25px, -25px, $mediumCranberry);
    }

    &::after{
        @include triteethLeft(77.5px, 25px, $mediumCranberry);
    }
}

@for $i from 1 through 16 {
    $angle: rotate(11.25deg * $i);

    .tooth-#{$i} {
        transform: $angle;
    }
}

.drawings{
    padding: 50px 150px 0;

    @media(max-width:1525px){
        padding: 50px 100px;
    }

    ul{
        padding: 50px 0 0;

        @media (max-width:1115px){
            flex-direction: column;
            align-items: center;
        }

        .main-link{
            width: 300px;
            background: transparent;
            border: 0;
            margin: 0;
            padding:0;
        
            @media(max-width:1310px){
                width: 250px;
            }       
        
            li{
                @include gearCircle(300px, 300px, 150px);
                background: $mediumCranberry;

                @media(max-width:1310px){
                    @include gearCircle(250px, 250px, 125px);
                }

                img{
                    @include gearCircle(250px, 250px, 125px);

                    @media(max-width:1310px){
                        @include gearCircle(200px, 200px, 100px);
                    }
                }           
            }
        }
    }
}

.lightbox {
    @include positioning(0, 0, inherit, inherit);
    background: rgba(0,0,0,0.8);
}

.closebtn{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
}
 
 .slideshow-container {
    @include gearCircle(900px, 600px, 0);

    @media(max-width:1115px){
        @include gearCircle(650px, 400px, 0);
    }

    @media(max-width:700px){
        @include gearCircle(375px, 250px, 0);
    }
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
}
  
.next {
    right: 0;
}

.prev{
    left:0
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.active-slide {
    display:flex;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}
  
.dot {
    @include gearCircle(13px, 13px, 6.5px);
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.checkers{
    bottom: 20px;
}

