.reel-video{
    padding: 100px 150px 50px 150px;
    
    p{
        margin: 0 auto;
        padding: 0 0 100px 0;
    }

    @media (max-width:1115px){
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
}

@media (max-width:1115px){
    .reel-wrap{
        flex-direction: column;
    
        .reel-empty{
            height: 300px;
        }
    }
    @media (max-width:700px){
        .reel-video > p{
            padding: 0 30px 100px 30px;
        }
    }
}

.video-block1{
    margin: 0 125px;
}

.video-block2{
    margin: 0;
}

@media (max-width:700px){
    .video-block1, .video-block2{
        margin: 0 auto;
        max-width: 480px;
    }
}

.drawings{
    padding: 50px 150px 0;

    @media(max-width:1525px){
        padding: 50px 100px;
    }

    ul{
        padding: 50px 0 0;

        @media (max-width:1115px){
            flex-direction: column;
            align-items: center;
        }
        
        li{
            @include gearCircle(300px, 300px, 150px);
            background: $mediumCranberry;

            @media(max-width:1310px){
                @include gearCircle(250px, 250px, 125px);
            }

            img{
                background: red;
                @include gearCircle(250px, 250px, 125px);

                @media(max-width:1310px){
                    @include gearCircle(200px, 200px, 100px);
                }
            }

            a{
                margin: auto;
                font-size: 30px;

                @media(max-width:1310px){
                    font-size: 25px;
                }
            }
        }
    }
}


