
.foot{
    background: $mediumCranberry;
}

.foot > p, .foot > a{
    padding: 50px 0;
    font-size: 20px;
}

.signin-btn{
    background: $darkCranberry;
    padding: 20px 40px;
    margin: 0 0 40px;
    border: none;
    color: $pureWhite;
    border-radius: 30px;
    transition: 0.5s;


    @media (max-width: 900px){
        display: none;
    }
}

.signin-btn:hover {
    background: $pinkCranberry;
}
