

.nav-title{
    background: $mediumCranberry;
    padding: 30px 0 30px;

    &::before{
        @include tritopLeft(383px, 147px solid $mediumCranberry, 0, 761px, 0); 
    }

    &::after{
        content: "";
        z-index: -1;
        left:761px;
        top: 0;
        width:1142px;
        height: 148px;
        background: black;
        position: absolute;
    }

    @media (max-width:1525px){
        padding: 30px 100px 30px;
    }
}

%navbar-styles{
    background: $pinkCranberry;
    z-index: 3;

    &::after{
        @include tritopRight(44px solid $darkCranberry , 44px, 0, -44px);
    }

    @media (max-width:1115px){
        width: 76%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    
        &::before{
            @include tritopLeft(44px, 44px solid $darkCranberry, 0, inherit, -44px);        
        }
    }
}

.navbar{
    @extend %navbar-styles;
}

.hidden-navbar{
    @extend %navbar-styles;
    display: none;
    top: 0;
}

.navbar > ul, .hidden-navbar > ul{
    margin: 12px 0;
    display: flex;

    a{
        font-size: 20px;
    }

    @media (max-width:1115px){

        a{
            display: none;
        }
    }
}

.sidenav{
    display:none;

    @media(max-width:1115px){
        display: flex;
        transition: 0.5s;
        background: $mediumCranberry;
        opacity: 0.90;
        height: 0%;
        top: 165px;

        a{
            font-size: 20px;
            transition: 0.25s;
            padding: 22px;
        }
    }
}

#mySidenav2{
    top: 0;
}