.title-block{
    background: $pinkCranberry;
    padding: 56px 42px 65px;

    &::before{
        @include tritopLeft(438px, 165px solid $pinkCranberry, 0, 427px, 0); 
    }

    &::after{
        @include tritopLeft(438px, 165px solid $pinkCranberry, 161px, 0, 0);
    }

    @media (max-width:1310px){
        padding:54px 17px;

        &::before{
            @include tritopLeft(377px, 148px solid $pinkCranberry, 0, 377px, 0); 
        }
    
        &::after{
            @include tritopLeft(377px, 148px solid $pinkCranberry, 148px, 0, 0);
        }
    }

    @media (max-width:1115px){
        padding:5px;
        width: auto;
        display: flex;
        background: $navyBlue;

        &::before{
            display: none;
        }
    
        &::after{
            display: none;
        }
    }
}

.nav-title{
    background: $mediumCranberry;
}

%navbar-styles{
    background: $darkCranberry;
    z-index: 3;

    &::after{
        @include tritopRight(44px solid $darkCranberry , 44px, 0, -44px);
    }

    @media (max-width:1115px){
        width: 76%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    
        &::before{
            @include tritopLeft(44px, 44px solid $darkCranberry, 0, inherit, -44px);        
        }
    }
}

.navbar{
    @extend %navbar-styles;
}

.hidden-navbar{
    @extend %navbar-styles;
    display: none;
    top: 0;
}

.navbar > ul, .hidden-navbar > ul{
    margin: 12px 0;
    display: flex;

    a{
        font-size: 20px;
    }

    @media (max-width:1115px){

        a{
            display: none;
        }
    }
}

.sidenav{
    display:none;
    z-index: -1;

    @media(max-width:1115px){
        display: flex;
        transition: 0.5s;
        -moz-transition: 0.5s;
        background: $mediumCranberry;
        opacity: 0.90;
        height: 0%;
        top: 165px;

        a{
            font-size: 20px;
            transition: 0.25s;
            -moz-transition: 0.25;
            padding: 22px;
        }
    }
}

#mySidenav2{
    top: 0;
}