.log-wrapper{
    background: $pinkCranberry;

    li{
        left: 100px;

        a{
            font-size: 20px;
        }
    }
}


.nav-login{
     padding: 50px;

     h1{
         font-size: 50px;
         padding: 0 20px;
     }

    input{
        @include gearCircle(200px, 40px, 20px);
        padding: 0px 10px;
        margin: 7px 10px 3px;
        border: none;
        background: #ccc;
        font-size: 20px;
        color: #111;
    }
        button{
        @include gearCircle(100px, 40px, 20px);
        margin: 7px 20px 3px;
        border: none;
        background: $darkCranberry;
        font-size: 22px;
        color: $pureWhite;
    }
    button:hover {
        background: #ccc;
    }
}

 .back-container{
    padding: 100px 0;

    p{
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 1px;
    }
 }

 .int-wrapper{
    padding: 50px 50px;
    background: $darkCranberry;
    border-radius: 75px;

}

.formplate{

    input{
        border-radius: 20px;
        color: $pureWhite;
    }

    button{
        @include gearCircle(70px, 40px, 20px);
        border: none;
        background: $pinkCranberry;
        color: $pureWhite; 
    }

    .delbutton{
        margin: 0 130px;
    }

    button:hover {
        background: #ccc;
    }
}

.one{
    width: 20%;
    margin: 150px 0 0;

    @media(max-width: 1830px){
        width: 22%;

        @media(max-width: 1670px){
            width: 24%;
            
            @media(max-width: 1530px){
                width: 26%;

                @media(max-width: 1415px){
                    width: 28%;

                    @media(max-width: 1315px){
                        width: 30%;

                        @media(max-width: 1230px){
                            width: 32%;
                        
                            @media(max-width: 1155px){
                                width: 34%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.two{
    width: 29%;
    margin: 150px 0 0;

    @media(max-width: 1830px){
        width: 31%;

        @media(max-width: 1670px){
            width: 34%;
            
            @media(max-width: 1530px){
                width: 36%;

                @media(max-width: 1415px){
                    width: 40%;

                    @media(max-width: 1315px){
                        width: 42%;

                        @media(max-width: 1230px){
                            width: 44%;
                        
                            @media(max-width: 1155px){
                                width: 46%;
                            }
                        }
                    }
                }
            }
        }
    }
}
  

.picbox{
    @include gearCircle(100px, 100px, 0);
    background: $mediumCranberry;
    margin: 20px 10px;
}

.coverpic{
    @include gearCircle(200px, 200px, 100px);
    background: $mediumCranberry;
}

.coverpic-main{
    @include gearCircle(175px, 175px, 87.5px);
}

.picmain{
    @include gearCircle(75px, 75px, 0);
}

.instruction > p{
    font-size: 20px;
    line-height: 20px;
}


